<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat realtime socketio</title>
    <script src="https://oanhsnail.herokuapp.com/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="jquery.js"></script>
    <script src="style.js"></script>
</head>

<body>
    <div id="wrapper">
        <input type="text" id="txtName" placeholder="Name">
        <input type="email" id="txtEmail" placeholder="Email">
        <input type="number" id="txtNumberPhone" placeholder="Number Phone">
        <input type="button" id="btnSend" value="Send">
        <div id="listUser">
            
        </div>
    </div>

</body>

</html>